/* Font for Website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Fade in animation */
@keyframes fadeIn {
  25% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/* index.jsx */
/* Website body */
html,
body {
  animation: fadeIn 0.5s;
  overflow: hidden;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
  overflow: hidden;
}

/* Universal style for horizontal rule */
hr {
  border: 0;
  height: 1px;
  width: 80%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  animation: fadeIn 2s;
}

/* Navigation bar */
/* Aligning and decorating navigation bar and navigation items */
.navBar {
  font-family: "Poppins";
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,71,55,1) 100%);
}

/* Placement of page logo */
.logoContainer {
  display: flex;
  margin-left: 200px;
  padding: 10px;
}

/* Navigation container, holding the navigation items */
.navContainer {
  margin-right: 200px;
}

/* Items of navigation container */
.navItem {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  transition: 0.3s;
}

/* Animations on hover for items */
.navItem:hover {
  color: black;
  background-color: white;
}

/* Active selector functionality */
.navItem.active {
  border: 1px solid white;
}

/* Container for the background image */
.imageContainer {
  max-width: 100%;
  height: auto;
}

/* Container for the main headline (large text) */
.titleContainer {
  position: absolute;
  top: 38%;
  left: 33%;
  text-align: center;
  color: white;
}

/* Container for the subtext (small text) */
.subContainer {
  font-weight: bold;
  font-style: italic;
}

/* Footer */
/* General styles for footer */
footer {
  font-family: "Poppins";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,71,55,1) 100%);
  color: white;
  text-align: center;
  padding: 10px;
}

/* Footer container for text */
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}